OtherHardware/MQTT_Broker/controller.json
[
    {
        "id": "92d2b552.988878",
        "type": "tab",
        "label": "Project-VISION-Controller",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8f950323.2a872",
        "type": "join",
        "z": "92d2b552.988878",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 920,
        "y": 400,
        "wires": [
            [
                "259216a1.38903a"
            ]
        ]
    },
    {
        "id": "259216a1.38903a",
        "type": "mqtt out",
        "z": "92d2b552.988878",
        "name": "",
        "topic": "sensor",
        "qos": "",
        "retain": "",
        "broker": "a9b999e7.2a3078",
        "x": 1150,
        "y": 400,
        "wires": []
    },
    {
        "id": "2ee6f480.77459c",
        "type": "join",
        "z": "92d2b552.988878",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 910,
        "y": 680,
        "wires": [
            [
                "429384c1.3ee7ac"
            ]
        ]
    },
    {
        "id": "429384c1.3ee7ac",
        "type": "mqtt out",
        "z": "92d2b552.988878",
        "name": "",
        "topic": "sensor",
        "qos": "",
        "retain": "",
        "broker": "a9b999e7.2a3078",
        "x": 1140,
        "y": 680,
        "wires": []
    },
    {
        "id": "9a84b11d.7dcbc",
        "type": "join",
        "z": "92d2b552.988878",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 910,
        "y": 960,
        "wires": [
            [
                "a7df774f.ab9368"
            ]
        ]
    },
    {
        "id": "a7df774f.ab9368",
        "type": "mqtt out",
        "z": "92d2b552.988878",
        "name": "",
        "topic": "sensor",
        "qos": "",
        "retain": "",
        "broker": "a9b999e7.2a3078",
        "x": 1140,
        "y": 960,
        "wires": []
    },
    {
        "id": "f417af3e.07505",
        "type": "ui_button",
        "z": "92d2b552.988878",
        "name": "Send",
        "group": "f417350d.ab99f8",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "button",
        "topicType": "str",
        "x": 570,
        "y": 280,
        "wires": [
            [
                "8f950323.2a872"
            ]
        ]
    },
    {
        "id": "ac54048c.aa3dc8",
        "type": "ui_button",
        "z": "92d2b552.988878",
        "name": "Send",
        "group": "ff6e1064.e8e84",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "button",
        "topicType": "str",
        "x": 560,
        "y": 560,
        "wires": [
            [
                "2ee6f480.77459c"
            ]
        ]
    },
    {
        "id": "9af27f40.019ef",
        "type": "ui_button",
        "z": "92d2b552.988878",
        "name": "Send",
        "group": "e528f548.8ae388",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3",
        "payloadType": "str",
        "topic": "button",
        "topicType": "str",
        "x": 560,
        "y": 840,
        "wires": [
            [
                "9a84b11d.7dcbc"
            ]
        ]
    },
    {
        "id": "1bc8dcac.1aa253",
        "type": "ui_dropdown",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Pitch",
        "tooltip": "",
        "place": "Select option",
        "group": "f417350d.ab99f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Low",
                "value": "0",
                "type": "str"
            },
            {
                "label": "Medium",
                "value": "1",
                "type": "str"
            },
            {
                "label": "High",
                "value": "2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "pitch",
        "topicType": "str",
        "className": "",
        "x": 570,
        "y": 360,
        "wires": [
            [
                "8f950323.2a872"
            ]
        ]
    },
    {
        "id": "adfa4001.2a1cd",
        "type": "ui_dropdown",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Pitch",
        "tooltip": "",
        "place": "Select option",
        "group": "ff6e1064.e8e84",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Low",
                "value": "0",
                "type": "str"
            },
            {
                "label": "Medium",
                "value": "1",
                "type": "str"
            },
            {
                "label": "High",
                "value": "2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "pitch",
        "topicType": "str",
        "className": "",
        "x": 560,
        "y": 640,
        "wires": [
            [
                "2ee6f480.77459c"
            ]
        ]
    },
    {
        "id": "2620038c.e508ec",
        "type": "ui_dropdown",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Pitch",
        "tooltip": "",
        "place": "Select option",
        "group": "e528f548.8ae388",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Low",
                "value": "0",
                "type": "str"
            },
            {
                "label": "Medium",
                "value": "1",
                "type": "str"
            },
            {
                "label": "High",
                "value": "2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "pitch",
        "topicType": "str",
        "className": "",
        "x": 560,
        "y": 920,
        "wires": [
            [
                "9a84b11d.7dcbc"
            ]
        ]
    },
    {
        "id": "6f751565.b9d02c",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Decibels",
        "tooltip": "",
        "group": "f417350d.ab99f8",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "decibels",
        "topicType": "str",
        "min": "70",
        "max": "160",
        "step": 1,
        "className": "",
        "x": 560,
        "y": 320,
        "wires": [
            [
                "8f950323.2a872"
            ]
        ]
    },
    {
        "id": "661c1951.1a56b8",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Direction",
        "tooltip": "",
        "group": "f417350d.ab99f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "direction",
        "topicType": "str",
        "min": 0,
        "max": "360",
        "step": 1,
        "className": "",
        "x": 560,
        "y": 400,
        "wires": [
            [
                "8f950323.2a872"
            ]
        ]
    },
    {
        "id": "6508b165.bcf18",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Distance",
        "tooltip": "",
        "group": "f417350d.ab99f8",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "distance",
        "topicType": "str",
        "min": "1",
        "max": 10,
        "step": 1,
        "className": "",
        "x": 560,
        "y": 440,
        "wires": [
            [
                "8f950323.2a872"
            ]
        ]
    },
    {
        "id": "ac3cab4c.f38978",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Decibels",
        "tooltip": "",
        "group": "ff6e1064.e8e84",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "decibels",
        "topicType": "str",
        "min": "70",
        "max": "160",
        "step": 1,
        "className": "",
        "x": 550,
        "y": 600,
        "wires": [
            [
                "2ee6f480.77459c"
            ]
        ]
    },
    {
        "id": "ef27368c.24e8e8",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Direction",
        "tooltip": "",
        "group": "ff6e1064.e8e84",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "direction",
        "topicType": "str",
        "min": 0,
        "max": "360",
        "step": 1,
        "className": "",
        "x": 550,
        "y": 680,
        "wires": [
            [
                "2ee6f480.77459c"
            ]
        ]
    },
    {
        "id": "bd61ee0a.f345f",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Distance",
        "tooltip": "",
        "group": "ff6e1064.e8e84",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "distance",
        "topicType": "str",
        "min": "1",
        "max": 10,
        "step": 1,
        "className": "",
        "x": 550,
        "y": 720,
        "wires": [
            [
                "2ee6f480.77459c"
            ]
        ]
    },
    {
        "id": "5e7323f1.89244c",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Decibels",
        "tooltip": "",
        "group": "e528f548.8ae388",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "decibels",
        "topicType": "str",
        "min": "70",
        "max": "160",
        "step": 1,
        "className": "",
        "x": 550,
        "y": 880,
        "wires": [
            [
                "9a84b11d.7dcbc"
            ]
        ]
    },
    {
        "id": "18f41a5b.75bb96",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Direction",
        "tooltip": "",
        "group": "e528f548.8ae388",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "direction",
        "topicType": "str",
        "min": 0,
        "max": "360",
        "step": 1,
        "className": "",
        "x": 550,
        "y": 960,
        "wires": [
            [
                "9a84b11d.7dcbc"
            ]
        ]
    },
    {
        "id": "8efaec3c.01d2c",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Distance",
        "tooltip": "",
        "group": "e528f548.8ae388",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "distance",
        "topicType": "str",
        "min": "1",
        "max": 10,
        "step": 1,
        "className": "",
        "x": 550,
        "y": 1000,
        "wires": [
            [
                "9a84b11d.7dcbc"
            ]
        ]
    },
    {
        "id": "f7341292.23c02",
        "type": "ui_numeric",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Time Period",
        "tooltip": "",
        "group": "f417350d.ab99f8",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "timeperiod",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "step": 1,
        "className": "",
        "x": 550,
        "y": 480,
        "wires": [
            [
                "8f950323.2a872"
            ]
        ]
    },
    {
        "id": "eb1c3326.b9193",
        "type": "ui_numeric",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Time Period",
        "tooltip": "",
        "group": "ff6e1064.e8e84",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "timeperiod",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "step": 1,
        "className": "",
        "x": 540,
        "y": 760,
        "wires": [
            [
                "2ee6f480.77459c"
            ]
        ]
    },
    {
        "id": "74bbcfd.28e063",
        "type": "ui_numeric",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Time Period",
        "tooltip": "",
        "group": "e528f548.8ae388",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "timeperiod",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "step": 1,
        "className": "",
        "x": 540,
        "y": 1040,
        "wires": [
            [
                "9a84b11d.7dcbc"
            ]
        ]
    },
    {
        "id": "8c4e3af4740b5ad1",
        "type": "join",
        "z": "92d2b552.988878",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1710,
        "y": 400,
        "wires": [
            [
                "f772907941d1c8ea"
            ]
        ]
    },
    {
        "id": "f772907941d1c8ea",
        "type": "mqtt out",
        "z": "92d2b552.988878",
        "name": "",
        "topic": "sensor",
        "qos": "",
        "retain": "",
        "broker": "a9b999e7.2a3078",
        "x": 1940,
        "y": 400,
        "wires": []
    },
    {
        "id": "1af40e9409babc55",
        "type": "ui_button",
        "z": "92d2b552.988878",
        "name": "Send",
        "group": "2a7a18bc9672b162",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "4",
        "payloadType": "str",
        "topic": "button",
        "topicType": "str",
        "x": 1360,
        "y": 280,
        "wires": [
            [
                "8c4e3af4740b5ad1"
            ]
        ]
    },
    {
        "id": "902c6a24c0a9cdf2",
        "type": "ui_dropdown",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Pitch",
        "tooltip": "",
        "place": "Select option",
        "group": "2a7a18bc9672b162",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Low",
                "value": "0",
                "type": "str"
            },
            {
                "label": "Medium",
                "value": "1",
                "type": "str"
            },
            {
                "label": "High",
                "value": "2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "pitch",
        "topicType": "str",
        "className": "",
        "x": 1360,
        "y": 360,
        "wires": [
            [
                "8c4e3af4740b5ad1"
            ]
        ]
    },
    {
        "id": "525bb73c24cb7446",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Decibels",
        "tooltip": "",
        "group": "2a7a18bc9672b162",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "decibels",
        "topicType": "str",
        "min": "70",
        "max": "160",
        "step": 1,
        "className": "",
        "x": 1350,
        "y": 320,
        "wires": [
            [
                "8c4e3af4740b5ad1"
            ]
        ]
    },
    {
        "id": "62def6f3d8a187a9",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Direction",
        "tooltip": "",
        "group": "2a7a18bc9672b162",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "direction",
        "topicType": "str",
        "min": 0,
        "max": "360",
        "step": 1,
        "className": "",
        "x": 1350,
        "y": 400,
        "wires": [
            [
                "8c4e3af4740b5ad1"
            ]
        ]
    },
    {
        "id": "87f61c59ba99f3c7",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Distance",
        "tooltip": "",
        "group": "2a7a18bc9672b162",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "distance",
        "topicType": "str",
        "min": "1",
        "max": 10,
        "step": 1,
        "className": "",
        "x": 1350,
        "y": 440,
        "wires": [
            [
                "8c4e3af4740b5ad1"
            ]
        ]
    },
    {
        "id": "14b85804131bc2c2",
        "type": "ui_numeric",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Time Period",
        "tooltip": "",
        "group": "2a7a18bc9672b162",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "timeperiod",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "step": 1,
        "className": "",
        "x": 1340,
        "y": 480,
        "wires": [
            [
                "8c4e3af4740b5ad1"
            ]
        ]
    },
    {
        "id": "63fcabdaefdd9d19",
        "type": "join",
        "z": "92d2b552.988878",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1710,
        "y": 680,
        "wires": [
            [
                "b3cbf3831b04deb0"
            ]
        ]
    },
    {
        "id": "b3cbf3831b04deb0",
        "type": "mqtt out",
        "z": "92d2b552.988878",
        "name": "",
        "topic": "sensor",
        "qos": "",
        "retain": "",
        "broker": "a9b999e7.2a3078",
        "x": 1940,
        "y": 680,
        "wires": []
    },
    {
        "id": "06bbd8eb718ff445",
        "type": "ui_button",
        "z": "92d2b552.988878",
        "name": "Send",
        "group": "19695db7a95d7393",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "5",
        "payloadType": "str",
        "topic": "button",
        "topicType": "str",
        "x": 1360,
        "y": 560,
        "wires": [
            [
                "63fcabdaefdd9d19"
            ]
        ]
    },
    {
        "id": "e1dffd801c489fbe",
        "type": "ui_dropdown",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Pitch",
        "tooltip": "",
        "place": "Select option",
        "group": "19695db7a95d7393",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Low",
                "value": "0",
                "type": "str"
            },
            {
                "label": "Medium",
                "value": "1",
                "type": "str"
            },
            {
                "label": "High",
                "value": "2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "pitch",
        "topicType": "str",
        "className": "",
        "x": 1360,
        "y": 640,
        "wires": [
            [
                "63fcabdaefdd9d19"
            ]
        ]
    },
    {
        "id": "d85a9dc7380486fd",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Decibels",
        "tooltip": "",
        "group": "19695db7a95d7393",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "decibels",
        "topicType": "str",
        "min": "70",
        "max": "160",
        "step": 1,
        "className": "",
        "x": 1350,
        "y": 600,
        "wires": [
            [
                "63fcabdaefdd9d19"
            ]
        ]
    },
    {
        "id": "e06e1bd66f3dfc7a",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Direction",
        "tooltip": "",
        "group": "19695db7a95d7393",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "direction",
        "topicType": "str",
        "min": 0,
        "max": "360",
        "step": 1,
        "className": "",
        "x": 1350,
        "y": 680,
        "wires": [
            [
                "63fcabdaefdd9d19"
            ]
        ]
    },
    {
        "id": "fc90cf3fa40ad658",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Distance",
        "tooltip": "",
        "group": "19695db7a95d7393",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "distance",
        "topicType": "str",
        "min": "1",
        "max": 10,
        "step": 1,
        "className": "",
        "x": 1350,
        "y": 720,
        "wires": [
            [
                "63fcabdaefdd9d19"
            ]
        ]
    },
    {
        "id": "9b5b5e4c86f93616",
        "type": "ui_numeric",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Time Period",
        "tooltip": "",
        "group": "19695db7a95d7393",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "timeperiod",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "step": 1,
        "className": "",
        "x": 1340,
        "y": 760,
        "wires": [
            [
                "63fcabdaefdd9d19"
            ]
        ]
    },
    {
        "id": "9c4a3dcbf5b544e7",
        "type": "join",
        "z": "92d2b552.988878",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1710,
        "y": 960,
        "wires": [
            [
                "d98e7357b122ffc1"
            ]
        ]
    },
    {
        "id": "d98e7357b122ffc1",
        "type": "mqtt out",
        "z": "92d2b552.988878",
        "name": "",
        "topic": "sensor",
        "qos": "",
        "retain": "",
        "broker": "a9b999e7.2a3078",
        "x": 1940,
        "y": 960,
        "wires": []
    },
    {
        "id": "2af6f4a171070d9c",
        "type": "ui_button",
        "z": "92d2b552.988878",
        "name": "Send",
        "group": "ddd4366791faab88",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "6",
        "payloadType": "str",
        "topic": "button",
        "topicType": "str",
        "x": 1360,
        "y": 840,
        "wires": [
            [
                "9c4a3dcbf5b544e7"
            ]
        ]
    },
    {
        "id": "1b5ad5a4cf5a5671",
        "type": "ui_dropdown",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Pitch",
        "tooltip": "",
        "place": "Select option",
        "group": "ddd4366791faab88",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Low",
                "value": "0",
                "type": "str"
            },
            {
                "label": "Medium",
                "value": "1",
                "type": "str"
            },
            {
                "label": "High",
                "value": "2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "pitch",
        "topicType": "str",
        "className": "",
        "x": 1360,
        "y": 920,
        "wires": [
            [
                "9c4a3dcbf5b544e7"
            ]
        ]
    },
    {
        "id": "7b47b9de507cbb20",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Decibels",
        "tooltip": "",
        "group": "ddd4366791faab88",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "decibels",
        "topicType": "str",
        "min": "70",
        "max": "160",
        "step": 1,
        "className": "",
        "x": 1350,
        "y": 880,
        "wires": [
            [
                "9c4a3dcbf5b544e7"
            ]
        ]
    },
    {
        "id": "d74608d4a9c4b1dd",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Direction",
        "tooltip": "",
        "group": "ddd4366791faab88",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "direction",
        "topicType": "str",
        "min": 0,
        "max": "360",
        "step": 1,
        "className": "",
        "x": 1350,
        "y": 960,
        "wires": [
            [
                "9c4a3dcbf5b544e7"
            ]
        ]
    },
    {
        "id": "4c143ec5dc43c600",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Distance",
        "tooltip": "",
        "group": "ddd4366791faab88",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "distance",
        "topicType": "str",
        "min": "1",
        "max": 10,
        "step": 1,
        "className": "",
        "x": 1350,
        "y": 1000,
        "wires": [
            [
                "9c4a3dcbf5b544e7"
            ]
        ]
    },
    {
        "id": "dc156051a5100b53",
        "type": "ui_numeric",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Time Period",
        "tooltip": "",
        "group": "ddd4366791faab88",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "timeperiod",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "step": 1,
        "className": "",
        "x": 1340,
        "y": 1040,
        "wires": [
            [
                "9c4a3dcbf5b544e7"
            ]
        ]
    },
    {
        "id": "bf697b236d8b3a51",
        "type": "join",
        "z": "92d2b552.988878",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2490,
        "y": 400,
        "wires": [
            [
                "81c9f515d213d1da"
            ]
        ]
    },
    {
        "id": "81c9f515d213d1da",
        "type": "mqtt out",
        "z": "92d2b552.988878",
        "name": "",
        "topic": "sensor",
        "qos": "",
        "retain": "",
        "broker": "a9b999e7.2a3078",
        "x": 2720,
        "y": 400,
        "wires": []
    },
    {
        "id": "25c4d11659c4c134",
        "type": "ui_button",
        "z": "92d2b552.988878",
        "name": "Send",
        "group": "e27477494c63b6cf",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "7",
        "payloadType": "str",
        "topic": "button",
        "topicType": "str",
        "x": 2140,
        "y": 280,
        "wires": [
            [
                "bf697b236d8b3a51"
            ]
        ]
    },
    {
        "id": "c8939bb66023d3f0",
        "type": "ui_dropdown",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Pitch",
        "tooltip": "",
        "place": "Select option",
        "group": "e27477494c63b6cf",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Low",
                "value": "0",
                "type": "str"
            },
            {
                "label": "Medium",
                "value": "1",
                "type": "str"
            },
            {
                "label": "High",
                "value": "2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "pitch",
        "topicType": "str",
        "className": "",
        "x": 2140,
        "y": 360,
        "wires": [
            [
                "bf697b236d8b3a51"
            ]
        ]
    },
    {
        "id": "0ba23e1d9bda9806",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Decibels",
        "tooltip": "",
        "group": "e27477494c63b6cf",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "decibels",
        "topicType": "str",
        "min": "70",
        "max": "160",
        "step": 1,
        "className": "",
        "x": 2130,
        "y": 320,
        "wires": [
            [
                "bf697b236d8b3a51"
            ]
        ]
    },
    {
        "id": "08bd59d0c826efc7",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Direction",
        "tooltip": "",
        "group": "e27477494c63b6cf",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "direction",
        "topicType": "str",
        "min": 0,
        "max": "360",
        "step": 1,
        "className": "",
        "x": 2130,
        "y": 400,
        "wires": [
            [
                "bf697b236d8b3a51"
            ]
        ]
    },
    {
        "id": "2be29d2dd25b68f9",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Distance",
        "tooltip": "",
        "group": "e27477494c63b6cf",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "distance",
        "topicType": "str",
        "min": "1",
        "max": 10,
        "step": 1,
        "className": "",
        "x": 2130,
        "y": 440,
        "wires": [
            [
                "bf697b236d8b3a51"
            ]
        ]
    },
    {
        "id": "a07d801e583e2883",
        "type": "ui_numeric",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Time Period",
        "tooltip": "",
        "group": "e27477494c63b6cf",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "timeperiod",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "step": 1,
        "className": "",
        "x": 2120,
        "y": 480,
        "wires": [
            [
                "bf697b236d8b3a51"
            ]
        ]
    },
    {
        "id": "f6ebc020b303116b",
        "type": "join",
        "z": "92d2b552.988878",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2490,
        "y": 680,
        "wires": [
            [
                "9924c907f1307126"
            ]
        ]
    },
    {
        "id": "9924c907f1307126",
        "type": "mqtt out",
        "z": "92d2b552.988878",
        "name": "",
        "topic": "sensor",
        "qos": "",
        "retain": "",
        "broker": "a9b999e7.2a3078",
        "x": 2720,
        "y": 680,
        "wires": []
    },
    {
        "id": "7332b2082e7c0652",
        "type": "ui_button",
        "z": "92d2b552.988878",
        "name": "Send",
        "group": "83a05892d22db939",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "8",
        "payloadType": "str",
        "topic": "button",
        "topicType": "str",
        "x": 2140,
        "y": 560,
        "wires": [
            [
                "f6ebc020b303116b"
            ]
        ]
    },
    {
        "id": "4864f2f4c37b2086",
        "type": "ui_dropdown",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Pitch",
        "tooltip": "",
        "place": "Select option",
        "group": "83a05892d22db939",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Low",
                "value": "0",
                "type": "str"
            },
            {
                "label": "Medium",
                "value": "1",
                "type": "str"
            },
            {
                "label": "High",
                "value": "2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "pitch",
        "topicType": "str",
        "className": "",
        "x": 2140,
        "y": 640,
        "wires": [
            [
                "f6ebc020b303116b"
            ]
        ]
    },
    {
        "id": "88967f942e8f2f8a",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Decibels",
        "tooltip": "",
        "group": "83a05892d22db939",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "decibels",
        "topicType": "str",
        "min": "70",
        "max": "160",
        "step": 1,
        "className": "",
        "x": 2130,
        "y": 600,
        "wires": [
            [
                "f6ebc020b303116b"
            ]
        ]
    },
    {
        "id": "42bb3d2a7bdbd4d2",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Direction",
        "tooltip": "",
        "group": "83a05892d22db939",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "direction",
        "topicType": "str",
        "min": 0,
        "max": "360",
        "step": 1,
        "className": "",
        "x": 2130,
        "y": 680,
        "wires": [
            [
                "f6ebc020b303116b"
            ]
        ]
    },
    {
        "id": "db5cc5b8904460be",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Distance",
        "tooltip": "",
        "group": "83a05892d22db939",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "distance",
        "topicType": "str",
        "min": "1",
        "max": 10,
        "step": 1,
        "className": "",
        "x": 2130,
        "y": 720,
        "wires": [
            [
                "f6ebc020b303116b"
            ]
        ]
    },
    {
        "id": "81278a816453ac07",
        "type": "ui_numeric",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Time Period",
        "tooltip": "",
        "group": "83a05892d22db939",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "timeperiod",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "step": 1,
        "className": "",
        "x": 2120,
        "y": 760,
        "wires": [
            [
                "f6ebc020b303116b"
            ]
        ]
    },
    {
        "id": "b87066295e0974b9",
        "type": "join",
        "z": "92d2b552.988878",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2490,
        "y": 960,
        "wires": [
            [
                "b1084954549a4544"
            ]
        ]
    },
    {
        "id": "b1084954549a4544",
        "type": "mqtt out",
        "z": "92d2b552.988878",
        "name": "",
        "topic": "sensor",
        "qos": "",
        "retain": "",
        "broker": "a9b999e7.2a3078",
        "x": 2720,
        "y": 960,
        "wires": []
    },
    {
        "id": "5471f26a89a2f2a9",
        "type": "ui_button",
        "z": "92d2b552.988878",
        "name": "Send",
        "group": "48fbbddbdf2eeddf",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "9",
        "payloadType": "str",
        "topic": "button",
        "topicType": "str",
        "x": 2140,
        "y": 840,
        "wires": [
            [
                "b87066295e0974b9"
            ]
        ]
    },
    {
        "id": "7a5bb0abf95d395a",
        "type": "ui_dropdown",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Pitch",
        "tooltip": "",
        "place": "Select option",
        "group": "48fbbddbdf2eeddf",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Low",
                "value": "0",
                "type": "str"
            },
            {
                "label": "Medium",
                "value": "1",
                "type": "str"
            },
            {
                "label": "High",
                "value": "2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "pitch",
        "topicType": "str",
        "className": "",
        "x": 2140,
        "y": 920,
        "wires": [
            [
                "b87066295e0974b9"
            ]
        ]
    },
    {
        "id": "f8b31a5b04359649",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Decibels",
        "tooltip": "",
        "group": "48fbbddbdf2eeddf",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "decibels",
        "topicType": "str",
        "min": "70",
        "max": "160",
        "step": 1,
        "className": "",
        "x": 2130,
        "y": 880,
        "wires": [
            [
                "b87066295e0974b9"
            ]
        ]
    },
    {
        "id": "bb7cb928a3ebe6c2",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Direction",
        "tooltip": "",
        "group": "48fbbddbdf2eeddf",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "direction",
        "topicType": "str",
        "min": 0,
        "max": "360",
        "step": 1,
        "className": "",
        "x": 2130,
        "y": 960,
        "wires": [
            [
                "b87066295e0974b9"
            ]
        ]
    },
    {
        "id": "20c9dd4f394687f6",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Distance",
        "tooltip": "",
        "group": "48fbbddbdf2eeddf",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "distance",
        "topicType": "str",
        "min": "1",
        "max": 10,
        "step": 1,
        "className": "",
        "x": 2130,
        "y": 1000,
        "wires": [
            [
                "b87066295e0974b9"
            ]
        ]
    },
    {
        "id": "d934a863fce5311c",
        "type": "ui_numeric",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Time Period",
        "tooltip": "",
        "group": "48fbbddbdf2eeddf",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "timeperiod",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "step": 1,
        "className": "",
        "x": 2120,
        "y": 1040,
        "wires": [
            [
                "b87066295e0974b9"
            ]
        ]
    },
    {
        "id": "e9bff1e8e955f6de",
        "type": "join",
        "z": "92d2b552.988878",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 3250,
        "y": 400,
        "wires": [
            [
                "346f5ab5a51c918b"
            ]
        ]
    },
    {
        "id": "346f5ab5a51c918b",
        "type": "mqtt out",
        "z": "92d2b552.988878",
        "name": "",
        "topic": "sensor",
        "qos": "",
        "retain": "",
        "broker": "a9b999e7.2a3078",
        "x": 3480,
        "y": 400,
        "wires": []
    },
    {
        "id": "fd928f4bfc0c2af6",
        "type": "ui_button",
        "z": "92d2b552.988878",
        "name": "Send",
        "group": "e56350288339da5c",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Send",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "10",
        "payloadType": "str",
        "topic": "button",
        "topicType": "str",
        "x": 2900,
        "y": 280,
        "wires": [
            [
                "e9bff1e8e955f6de"
            ]
        ]
    },
    {
        "id": "9be80606ca6b62b7",
        "type": "ui_dropdown",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Pitch",
        "tooltip": "",
        "place": "Select option",
        "group": "e56350288339da5c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Low",
                "value": "0",
                "type": "str"
            },
            {
                "label": "Medium",
                "value": "1",
                "type": "str"
            },
            {
                "label": "High",
                "value": "2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "pitch",
        "topicType": "str",
        "className": "",
        "x": 2900,
        "y": 360,
        "wires": [
            [
                "e9bff1e8e955f6de"
            ]
        ]
    },
    {
        "id": "93775c15f28d6d15",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Decibels",
        "tooltip": "",
        "group": "e56350288339da5c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "decibels",
        "topicType": "str",
        "min": "70",
        "max": "160",
        "step": 1,
        "className": "",
        "x": 2890,
        "y": 320,
        "wires": [
            [
                "e9bff1e8e955f6de"
            ]
        ]
    },
    {
        "id": "2d6510fa8f9d23f1",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Direction",
        "tooltip": "",
        "group": "e56350288339da5c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "direction",
        "topicType": "str",
        "min": 0,
        "max": "360",
        "step": 1,
        "className": "",
        "x": 2890,
        "y": 400,
        "wires": [
            [
                "e9bff1e8e955f6de"
            ]
        ]
    },
    {
        "id": "24b67ab94ea70b00",
        "type": "ui_slider",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Distance",
        "tooltip": "",
        "group": "e56350288339da5c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "distance",
        "topicType": "str",
        "min": "1",
        "max": 10,
        "step": 1,
        "className": "",
        "x": 2890,
        "y": 440,
        "wires": [
            [
                "e9bff1e8e955f6de"
            ]
        ]
    },
    {
        "id": "84b6fcf46c1a71fe",
        "type": "ui_numeric",
        "z": "92d2b552.988878",
        "name": "",
        "label": "Time Period",
        "tooltip": "",
        "group": "e56350288339da5c",
        "order": 7,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "timeperiod",
        "topicType": "str",
        "format": "{{value}}",
        "min": 0,
        "max": "30",
        "step": 1,
        "className": "",
        "x": 2880,
        "y": 480,
        "wires": [
            [
                "e9bff1e8e955f6de"
            ]
        ]
    },
    {
        "id": "a9b999e7.2a3078",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "f417350d.ab99f8",
        "type": "ui_group",
        "name": "Circle",
        "tab": "fc603201.6709f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "ff6e1064.e8e84",
        "type": "ui_group",
        "name": "Arrow",
        "tab": "fc603201.6709f",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "e528f548.8ae388",
        "type": "ui_group",
        "name": "Nothing",
        "tab": "fc603201.6709f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "2a7a18bc9672b162",
        "type": "ui_group",
        "name": "Option 4",
        "tab": "fc603201.6709f",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "19695db7a95d7393",
        "type": "ui_group",
        "name": "Option 5",
        "tab": "fc603201.6709f",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "ddd4366791faab88",
        "type": "ui_group",
        "name": "Option 6",
        "tab": "fc603201.6709f",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "e27477494c63b6cf",
        "type": "ui_group",
        "name": "Option 7",
        "tab": "fc603201.6709f",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "83a05892d22db939",
        "type": "ui_group",
        "name": "Option 8",
        "tab": "fc603201.6709f",
        "order": 8,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "48fbbddbdf2eeddf",
        "type": "ui_group",
        "name": "Option 9",
        "tab": "fc603201.6709f",
        "order": 9,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "e56350288339da5c",
        "type": "ui_group",
        "name": "Option 10",
        "tab": "fc603201.6709f",
        "order": 10,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "fc603201.6709f",
        "type": "ui_tab",
        "name": "Project-VISION-Controller",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]