OtherHardware/MQTT_Broker/flows.json
[{"id":"7687d45a.038f1c","type":"tab","label":"Project-VISION","disabled":false,"info":""},{"id":"6007cca2.528424","type":"aedes broker","z":"7687d45a.038f1c","name":"","mqtt_port":1883,"mqtt_ws_port":"1833","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":270,"y":140,"wires":[[]]},{"id":"23424faf.dbd58","type":"mqtt out","z":"7687d45a.038f1c","name":"","topic":"0","qos":"","retain":"","broker":"a9b999e7.2a3078","x":470,"y":220,"wires":[]},{"id":"15c3d8e7.94bb57","type":"inject","z":"7687d45a.038f1c","name":"MIC0","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"0","payload":"10","payloadType":"str","x":250,"y":220,"wires":[["23424faf.dbd58"]]},{"id":"e49713c.aa717f","type":"inject","z":"7687d45a.038f1c","name":"MIC1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"1","payload":"10","payloadType":"str","x":250,"y":280,"wires":[["699622b7.26828c"]]},{"id":"47bdb386.e9201c","type":"inject","z":"7687d45a.038f1c","name":"MIC2","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"2","payload":"10","payloadType":"str","x":250,"y":340,"wires":[["725c7d9f.758ac4"]]},{"id":"5b4beacb.a38f34","type":"inject","z":"7687d45a.038f1c","name":"MIC3","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"3","payload":"10","payloadType":"str","x":250,"y":400,"wires":[["87b23ae8.5feff8"]]},{"id":"699622b7.26828c","type":"mqtt out","z":"7687d45a.038f1c","name":"","topic":"1","qos":"","retain":"","broker":"a9b999e7.2a3078","x":470,"y":280,"wires":[]},{"id":"87b23ae8.5feff8","type":"mqtt out","z":"7687d45a.038f1c","name":"","topic":"3","qos":"","retain":"","broker":"a9b999e7.2a3078","x":470,"y":400,"wires":[]},{"id":"725c7d9f.758ac4","type":"mqtt out","z":"7687d45a.038f1c","name":"","topic":"2","qos":"","retain":"","broker":"a9b999e7.2a3078","x":470,"y":340,"wires":[]},{"id":"a9b999e7.2a3078","type":"mqtt-broker","name":"MQTT Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]